<div class="candidates">
  <candidates-form
    [candidatesForm]="candidatesForm"
    [searchForm]="searchForm"
    [status]="status"
    [editMode]="editMode"
    (onSaved)="onSubmit($event)"
    (onSearch)="setSearchString($event)"
    (onReset)="resetForm()"
  ></candidates-form>

  <div class="candidates__content">
    <h1>Kandidater</h1>
    <ng-container *ngIf="candidates$ | async as candidates">
      <ul
        *ngFor="
          let candidate of candidates | filter: searchValue;
          let i = index
        "
      >
        <li>Namn: {{ candidate.firstName }} {{ candidate.lastName }}</li>
        <li>Ålder: {{ candidate.age }}</li>
        <li>Email: {{ candidate.email }}</li>
        <li>Adress: {{ candidate.address.street }}</li>
        <li>Stad: {{ candidate.address.city }}</li>
        <li>Postnummer: {{ candidate.address.zip }}</li>
        <li>Status: {{ candidate.status }}</li>

        <div class="candidates__ctr-wrapper">
          <button
            class="candidates__button-primary"
            type="button"
            (click)="editCandidate(candidate, i)"
          >
            Ändra
          </button>
          <button
            class="candidates__button-secondary"
            type="button"
            (click)="deleteCandidate(i)"
          >
            Ta bort
          </button>
        </div>
        <hr />
      </ul>
    </ng-container>
  </div>
</div>
