.candidates {
  max-width: 620px;
  h1 {
    margin-left: 40px;
  }

  label,
  input {
    display: table-cell;
    margin-bottom: 10px;
  }

  &__content {
    margin-left: 216px;
    padding: 1px 16px;
  }

  li {
    font-size: 1rem;
    line-height: 1.5;
    list-style-type: none;
  }

  &__button-primary {
    border-color: #00005a;
    background-color: #00005a;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    color: #fff;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    padding: 0.438rem 1rem;
    line-height: 1.5;
    margin-right: 1rem;
  }

  &__button-secondary {
    color: #00005a;
    border-radius: 0.25rem;
    cursor: pointer;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    padding: 0.438rem 1rem;
    line-height: 1.5;
  }

  &__ctr-wrapper {
    margin: 1.125rem 0 1.125rem 0;
  }
}
