<candidates-form
  [candidatesForm]="candidatesForm"
  [status]="status"
  [editMode]="editMode"
  (candidateSaved)="onSubmit($event)"
></candidates-form>

<h3>Kandidater</h3>
  <ul *ngFor="let candidate of candidates$ | async; let i = index">
    <ul>Namn: {{ candidate.firstName }} {{ candidate.lastName }}</ul>
    <ul>Ålder: {{ candidate.age }}</ul>
    <ul>Email: {{ candidate.email }}</ul>
    <ul>Adress: {{ candidate.address.street }}</ul>
    <ul>Stad: {{ candidate.address.city }}</ul>
    <ul>Postnummer: {{ candidate.address.zip }}</ul>
    <ul>Status: {{ candidate.status }}</ul>
    <button type="button" (click)="deleteCandidate(i)">Ta bort</button>
    <button type="button" (click)="editCandidate(candidate, i)">Ändra</button>
    <hr>
  </ul>

