<div class="candidates">
  <div class="candidates__section">
    <form [formGroup]="candidatesForm" (ngSubmit)="onSubmit()">
      <label>Förnamn: </label>
      <input type="text" formControlName="firstName" />
      <p *ngIf="validateControl('firstName')">Förnamn är obligatoriskt</p>

      <label>Efternamn: </label>
      <input type="text" formControlName="lastName" />
      <p *ngIf="validateControl('lastName')">Efternamn är obligatoriskt</p>

      <label>Ålder: </label>
      <input type="number" formControlName="age" />
      <p *ngIf="validateControl('age')">Ålder är obligatoriskt</p>

      <label>Epost: </label>
      <input type="email" formControlName="email" />
      <p *ngIf="validateControl('email')">Epost är obligatoriskt</p>

      <div formGroupName="address">
        <label>Adress: </label>
        <input type="text" formControlName="street" />
        <p *ngIf="validateControl('street', 'address')">
          Adress är obligatoriskt
        </p>

        <label>Stad: </label>
        <input type="text" formControlName="city" />
        <p *ngIf="validateControl('city', 'address')">Stad är obligatoriskt</p>

        <label>Postnummer: </label>
        <input type="number" formControlName="zip" />
        <p *ngIf="validateControl('zip', 'address')">
          Postnummer är obligatoriskt
        </p>
      </div>

      <div>
        <label>Status: </label>
        <select formControlName="status">
          <option *ngFor="let statusType of status" [value]="statusType.value">
            {{ statusType.viewValue }}
          </option>
        </select>
        <p *ngIf="validateControl('status')">Status är obligatoriskt</p>
      </div>

      <div class="candidates__ctr-wrapper">
        <button class="candidates__button-primary" type="submit">
          {{ !editMode ? "Lägg till" : "Uppdatera" }}
        </button>
        <button
          class="candidates__button-secondary"
          *ngIf="editMode"
          type="button"
          (click)="resetForm()"
        >
          Tillbaka
        </button>
      </div>

      <form [formGroup]="searchForm" (ngSubmit)="setSearchString()">
        <label>Sök kandidat: </label>
        <input
          type="text"
          formControlName="search"
          (ngModelChange)="resetForm()"
        />
        <button class="candidates__button-primary" type="submit">Sök</button>
      </form>
    </form>
  </div>
</div>
